{% extends 'base.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ '/media/images/intro_img/10.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>About</span>Food Shack Company</h2>


                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">


        <!-- start section -->
        <section class="section section--no-pb section--custom-01">
            <div class="container">
                <div class="section-heading">
                    <h2 class="__title">We are <span>{{ about.title }}</span></h2>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-8">
                        <p>
                            {{ about.description1 }}
                        </p>

                        <p>
                            {{ about.description2 }}
                        </p>

                        <p>
                            {{ about.description3 }}
                        </p>

                        <p>
                            {{ about.description4 }}
                        </p>

                        <p>
                            <a class="custom-btn custom-btn--medium custom-btn--style-1" href="{{ about.btnUrl }}">Get in Touch</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->


        <!-- start section -->
        <section class="section section--gutter section--base-bg section--custom-02 mt-60">
            <div class="container">
                <div class="section-heading" data-aos="fade">
                    <h2 class="__title">The Openfield <span>Timeline</span></h2>
                </div>

                <!-- start timeline -->
                <div class="timeline">
                    <div class="__inner">
                        <div class="row">
                            <!-- start item -->
                            <div class="col-12 col-md-3">
                                <div class="__item">
                                    <i class="__ico"></i>

                                    <div class="row">
                                        <div class="col-lg-11 col-xl-9">
                                            <p class="__year">1907</p>

                                            <h5 class="__title">Smells Racy Free Announcing</h5>

                                            <p>
                                                Vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-md-3">
                                <div class="__item">
                                    <i class="__ico"></i>

                                    <div class="row">
                                        <div class="col-lg-11 col-xl-9">
                                            <p class="__year">1996</p>

                                            <h5 class="__title">Grainfarmers <br> Formed</h5>

                                            <p>
                                                Vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-md-3">
                                <div class="__item">
                                    <i class="__ico"></i>

                                    <div class="row">
                                        <div class="col-lg-11 col-xl-9">
                                            <p class="__year">2000</p>

                                            <h5 class="__title">Group Cereals and Lingrain Merge</h5>

                                            <p>
                                                Vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-md-3">
                                <div class="__item">
                                    <i class="__ico"></i>

                                    <div class="row">
                                        <div class="col-lg-11 col-xl-9">
                                            <p class="__year">2017</p>

                                            <h5 class="__title">Aquired Countrywide Farmers</h5>

                                            <p>
                                                Vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end timeline -->
            </div>
        </section>
        <!-- end section -->



        <!-- start section -->
        <section class="py-50">
            <div class="container">
                <div class="section-heading section-heading--center" data-aos="fade">
                    <h2 class="__title">Partners</h2>

                    <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                </div>

                <div class="partners-list">
                    <div class="js-slick"
                         data-slick='{
								 "autoplay": true,
								 "arrows": false,
								 "dots": true,
								 "speed": 1000,
								 "responsive": [
									{
										"breakpoint":576,
										"settings":{
											"slidesToShow": 2
										}
									},
									{
										"breakpoint":767,
										"settings":{
											"slidesToShow": 3
										}
									},
									{
										"breakpoint":991,
										"settings":{
											"slidesToShow": 4
										}
									},
									{
										"breakpoint":1199,
										"settings":{
											"autoplay": false,
											"dots": false,
											"slidesToShow": 5
										}
									}
								]}'>
                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/1.jpg' }}" alt="demo" />
                        </div>

                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/2.jpg' }}" alt="demo" />
                        </div>

                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/3.jpg' }}" alt="demo" />
                        </div>

                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/4.jpg' }}" alt="demo" />
                        </div>

                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/5.jpg' }}" alt="demo" />
                        </div>
                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/5.jpg' }}" alt="demo" />
                        </div>
                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/5.jpg' }}" alt="demo" />
                        </div>
                        <div class="__item">
                            <img class="img-fluid m-auto" src="{{ '/media/images/partners_img/5.jpg' }}" alt="demo" />
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <!-- end main -->
    <style>
        @media (min-width: 992px){
            .section--custom-01{
                background-image: url({{ vich_uploader_asset(about, 'imageFile') }});
                color: #333;
            }
        }
    </style>
{% endblock %}

