{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ '/media/images/intro_img/11.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>شركة فود شاك</span>تغيير كلمة المرور</h2>


                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->

        <section class="container-top container">

            <div class="row m-b-30">
                {% include 'account/side_barAr.html.twig' %}
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <div class="edit_prof_bg1 py-2">
                        <div class="row"><div class="col-md-12"><h4> تغيير كلمة المرور</h4></div></div>

                    </div>
                    <div class="box">


                        <div class="row table-min">
                            <div class="col-md-11 m-r-auto m-l-auto col-sm-11 col-11 bg6 profile-wrapper">
                                    {{ form_start(form, {'attr': {'class': 'validation-form'}}) }}
                                    <div class="form-group">
                                        <label for="old_password"> كلمة المرور الحالي </label>
                                        {{ form_row(form.old_password, {'attr': {'class': 'form-control', 'placeholder':'كلمة المرور الحالي'}}) }}
                                    </div>

                                    <div class="form-group">
                                        <label for="new_password"> كلمة مرور جديدة </label>
                                        {{ form_row(form.new_password.first, {'attr': {'class': 'form-control', 'placeholder':' كلمة مرور جديدة'}}) }}
                                    </div>

                                    <div class="form-group">
                                        <label for="con_password"> تأكيد كلمة المرور </label>
                                        {{ form_row(form.new_password.second, {'attr': {'class': 'form-control', 'placeholder':'تأكيد كلمة المرور'}}) }}
                                    </div>

                                    {{ form_row(form.submit, {'attr': {'class': 'custom-btn custom-btn--medium custom-btn--style-1'}}) }}

                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>



                </div>
            </div>




        </section>

    </main>
    <!-- end main -->
    {% endblock %}