<div class="col-12 col-sm-12 col-md-4 col-lg-3">

    <div class="cardProfile">
        <span></span>
        <img src="{{ '/media/images/avatar-01.jpg' }}" alt="">
        <h5>{{ customer.fullName }}</h5>
    </div>

    <div class="listPro">
        <a href="{{ path('account', { locale: 'en' }) }}" {% if page is defined and page == 'account' %}class="active-btn"{% endif %}>
            My profile </a>
        <a href="{{ path('edit.account', { locale: 'en' }) }}" {% if page is defined and page == 'edit.account' %}class="active-btn"{% endif %}>
            Edit profile </a>
        <a href="{{ path('my.orders', { locale: 'en' }) }}" {% if page is defined and page == 'my.orders' %}class="active-btn"{% endif %}>
            My orders </a>
        <a href="{{ path('edit.password', { locale: 'en' }) }}" {% if page is defined and page == 'edit.password' %}class="active-btn"{% endif %}>
            Change password </a>
        <a href="{{ path('register', { locale: 'en' }) }}"> Logout </a>
    </div>

    <!-- Modal -->

</div>