{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <!-- start start screen -->
    <div id="start-screen" class="start-screen start-screen--style-1" data-scroll-discover="true">
        <div id="start-screen__bg" class="start-screen__bg">
            <div id="vegas-slider" data-dots="true">
                <div class="vegas-control">
                    <span id="vegas-control__prev" class="vegas-control__btn">Prev</span>
                    <span id="vegas-control__next" class="vegas-control__btn">Next</span>
                </div>
            </div>


        </div>

        <div id="start-screen__content-container" class="start-screen__content-container  text-white">
            <div class="start-screen__content__item start-screen__content__item--1  align-items-center">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-12 col-md-10 col-xl-8">
                            <div class="__name">Food Shack Company</div>

                            <h2 class="__title text-white"> Foodstuffs</h2>

                            <p class="text-center">
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
                            </p>

                            <p class="text-center mt-5 mt-md-10">
                                <span class="d-none d-sm-block"><a class="custom-btn custom-btn--big custom-btn--style-3" href="#">Buy Now</a></span>

                                <span class="d-block d-sm-none"><a class="custom-btn custom-btn--small custom-btn--style-3" href="#">Buy Now</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- end start screen -->

    <!-- start main -->
    <main role="main">

        {% for category in categories %}
        <section class="parallax-sec" style="background-image: url({{ vich_uploader_asset(category, 'imageFile') }})">
            <div class="container">
                <h1>{{ category.name }} </h1>
            </div>

        </section>

        <section class="products-list py-5">
            <div class="container goods--style-1">

                <div class="row">
                    <!-- start item -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="__item">
                            <figure class="__image">
                                <img class="lazy loaded" width="180" src="{{ '/media/images/goods_img/1.jpg' }}" alt="demo" data-was-processed="true">
                            </figure>

                            <div class="__content">
                                <h4 class="h6 __title"><a href="single_product.html">Inferno Extreme 155g</a></h4>



                                <div class="product-price">
                                    <span class="product-price__item product-price__item--new">1.450 KD</span>
                                </div>

                                <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                            </div>


                        </div>
                    </div>
                    <!-- end item -->

                    <!-- start item -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="__item">
                            <figure class="__image">
                                <img class="lazy loaded" width="180" src="{{ '/media/images/goods_img/2.jpg' }}" alt="demo" data-was-processed="true">
                            </figure>

                            <div class="__content">
                                <h4 class="h6 __title"><a href="single_product.html">Sweet Chilli Sauce 275 g</a></h4>


                                <div class="product-price">
                                    <span class="product-price__item product-price__item--new">1.750 KD</span>
                                </div>

                                <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                            </div>


                        </div>
                    </div>
                    <!-- end item -->

                    <!-- start item -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="__item">
                            <figure class="__image">
                                <img class="lazy loaded" width="180" src="{{ '/media/images/goods_img/3.jpg' }}" alt="demo" data-was-processed="true">
                            </figure>

                            <div class="__content">
                                <h4 class="h6 __title"><a href="single_product.html">Chilli BBQ Sauce 275g</a></h4>


                                <div class="product-price">
                                    <span class="product-price__item product-price__item--new">2.000 KD</span>
                                    <span class="product-price__item product-price__item--old">1.750 KD</span>
                                </div>

                                <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                    <!-- end item -->

                    <!-- start item -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="__item">
                            <figure class="__image">
                                <img class="lazy loaded" width="180" src="{{ '/media/images/goods_img/4.jpg' }}" alt="demo" data-was-processed="true">
                            </figure>

                            <div class="__content">
                                <h4 class="h6 __title"><a href="single_product.html">Inferno Original 155g</a></h4>



                                <div class="product-price">
                                    <span class="product-price__item product-price__item--new">1.450 KD</span>
                                </div>

                                <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                    <!-- end item -->

                    <!-- start item -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="__item">
                            <figure class="__image">
                                <img class="lazy loaded" width="180" src="{{ '/media/images/goods_img/5.jpg' }}" alt="demo" data-was-processed="true">
                            </figure>

                            <div class="__content">
                                <h4 class="h6 __title"><a href="single_product.html">Mic's Chili Gift Box (the Very hot collection</a></h4>


                                <div class="product-price">
                                    <span class="product-price__item product-price__item--new">10.000 KD</span>
                                </div>

                                <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                    <!-- end item -->

                    <!-- start item -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="__item">
                            <figure class="__image">
                                <img class="lazy loaded" width="180" src="{{ '/media/images/goods_img/6.jpg' }}" alt="demo" data-was-processed="true">
                            </figure>

                            <div class="__content">
                                <h4 class="h6 __title"><a href="single_product.html">Trouble in Trinidad 155g</a></h4>



                                <div class="product-price">
                                    <span class="product-price__item product-price__item--new">2.950 KD</span>
                                </div>

                                <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                            </div>

                        </div>
                    </div>
                    <!-- end item -->



                </div>



            </div>



        </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="load-more">
                        <a class="custom-btn1 custom-btn--medium custom-btn--style-1" href="sauces.html">Show More..</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    // custom vegas styles


    {#    console.log('ok999999999999')#}



    {#var slider = document.getElementById('#vegas-slider'),#}
    {#    slides = [#}
    {#{% for slide in slides %}#}
    {#        {#}
    {#            name: "img {{ loop.index }}",#}
    {#            src: '{{ vich_uploader_asset(slide, 'imageFile') }}'#}
    {#        },#}
    {#{% endfor %}#}
    {#]#}
    {#slider.vegas({#}
    {#    slides: slides,#}
    {#})#}
</script>
{% endblock %}
