{% extends 'base.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ '/media/images/intro_img/13.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <h1 class="__title"><span>Food Shack Company</span> Product Single</h1>

                    <p>
                        The point of using is that it has a more-or-less normal distribution of letters, as opposed to using Content here content here making it look
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->



        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">

                    <!-- start product single -->
                    <div class="product-single mt-60">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <section id="detail">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 mx-auto">
                                                <!-- Product Images & Alternates -->
                                                <div class="product-images demo-gallery">
                                                    <!-- Begin Product Images Slider -->
                                                    <div class="main-img-slider">
                                                        {% for image in product.images %}
                                                            <a data-fancybox="gallery" href="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('Extra_large')  }}"><img style="margin: auto" width="330" src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img-fluid"></a>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- End Product Images Slider -->

                                                    <!-- Begin product thumb nav -->
                                                    <ul class="thumb-nav">
                                                        {% for image in product.images %}
                                                            <li><img width="75" src="{{ vich_uploader_asset(image, 'imageFile') }}"></li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!-- End product thumb nav -->
                                                </div>
                                                <!-- End Product Images & Alternates -->

                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="col-12 col-lg-5">
                                <div class="content-container">
                                    <h3 class="__name">{{ product.name|upper }}</h3>

                                    <div class="__categories">
                                        Category:
                                        <span>{{ product.category.name|upper }}</span>
                                    </div>

                                    <div class="product-price">
                                        {% if product.discountPrice != 0.0 %}
                                            <span class="product-price__item product-price__item--new">{{ (product.discountPrice / 100) |number_format(3, '.', ',') }} {{ currency }}</span><br>
                                            <span class="product-price__item product-price__item--old">{{ (product.price / 100) |number_format(3, '.', ',') }} {{ currency }}</span>
                                        {% else %}
                                            <span class="product-price__item product-price__item--new">{{ (product.price / 100) |number_format(3, '.', ',') }} {{ currency }}</span>
                                        {% endif %}
                                    </div>
                                    {% if product.category.id == 1 %}
                                        {% if product.hotDegree != null %}
                                            <img src="{{ '/media/images/spice'~ product.hotDegree.id ~'.png' }}" />
                                        {% endif %}
                                    {% endif %}
{#                                    <div class="rating">#}
{#                                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>#}
{#                                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>#}
{#                                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>#}
{#                                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>#}
{#                                        <span class="rating__item"><i class="fontello-star"></i></span>#}
{#                                    </div>#}

                                    <p>
                                        {{ product.description|raw }}
                                    </p>

                                    <form class="__add-to-cart js-detail-cart-form" action="{{ path('add.cart', { id: product.id, locale: 'en' }) }}">
                                        <div class="quantity-counter js-quantity-counter">
                                            <span class="__btn __btn--minus"></span>
                                            <input class="__q-input" type="text" value="1" name="quantity"/>
                                            <span class="__btn __btn--plus" data-max="{{ product.quantity }}"></span>
                                        </div>

{#                                        <button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit" role="button">#}
{#                                            <i class="fontello-shopping-bag"></i>Add to Cart#}
{#                                        </button>#}
                                        <a class="e-button">
                                            <button class="btn" >
                                                <span class="text">
                                                  <i class="fontello-shopping-bag"></i> Add to cart
                                                </span>
                                                <span class="success-text">
                                                    Product Added!
                                                </span>
                                            </button>
                                        </a>
                                    </form>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="spacer py-5 py-md-9"></div>

                                <!-- start tab -->
                                <div class="tab-container">
                                    <nav class="tab-nav">
                                        <a href="#">Description</a>

                                    </nav>

                                    <div class="tab-content">
                                        <div class="tab-content__item is-visible">
                                            <p>
                                                {{ product.longDescription|raw }}
                                            </p>

                                            <div class="description-table" style="max-width: 370px;">
                                                <table>
                                                    <tbody>
                                                    {% for catalog in product.catalogs %}
                                                        <tr>
                                                        <td>{{ catalog.propertyName }}</td>
                                                        <td>{{ catalog.propertyValue }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- end tab -->

                                <div class="spacer py-5 py-md-9"></div>
                            </div>
                        </div>
                    </div>
                    <!-- start product single -->
                    {% if products|length > 1 %}
                        <h2>Related <span>products</span></h2>
                        <div class="spacer py-2"></div>
                    {% endif %}



                    {% set prod = product %}
                    <!-- start goods -->
                    <div class="goods goods--style-1">
                        <div class="__inner">
                            <div class="row">
                                {% for product in products %}
                                {% if product != prod %}
                                    <!-- start item -->
                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="__item">
                                            <figure class="__image">
                                                <img class="lazy" width="180" src="{{ vich_uploader_asset(product.images.first, 'imageFile') }}" data-src="{{ vich_uploader_asset(product.images.first, 'imageFile') }}" alt="demo" />
                                            </figure>

                                            <div class="__content">
                                                <h4 class="h6 __title"><a href="{{ path('product', {locale: 'en', 'slug': product.slug }) }}">{{ product.name|upper }}</a></h4>


                                                <div class="product-price">
                                                    {% if product.discountPrice != 0.0 %}
                                                        <span class="product-price__item product-price__item--new">{{ (product.discountPrice / 100) |number_format(2, '.', ',') }} {{ currency }}</span><br>
                                                        <span class="product-price__item product-price__item--old">{{ (product.price / 100) |number_format(2, '.', ',') }} {{ currency }}</span>
                                                    {% else %}
                                                        <span class="product-price__item product-price__item--new">{{ (product.price / 100) |number_format(2, '.', ',') }} {{ currency }}</span>
                                                    {% endif %}
                                                </div>
                                                {% if product.category.id == 1 %}
                                                    {% if product.hotDegree != null %}
                                                        <img src="{{ '/media/images/spice'~ product.hotDegree.id ~'.png' }}" />
                                                    {% endif %}
                                                {% endif %}

                                            </div>

{#                                            <span class="product-label product-label--new">New</span>#}
                                        </div>
                                    </div>
                                    <!-- end item -->
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- end goods -->

                </div>

                <div class="col-12 my-6 d-md-none"></div>

            </div>
        </div>
    </main>
    <!-- end main -->

{% endblock %}