{% extends 'baseAr.html.twig' %}
{% block title %}Contact Us{% endblock %}
{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ '/media/images/intro_img/13.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>شركة فود شاك</span>اتصل بنا</h2>


                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->



        <div class="py-5">

            <section class="section section--dark-bg  section--contacts mt-60">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-6">

                            <div class="row justify-content-end">
                                <div class="col-md-11">
                                    <div class="section-heading section-heading--white">
                                        <h2 class="__title"><span>ابقى على تواصل</span></h2>
                                    </div>
                                    {{ form_start(form, {'attr': {'class': 'contact-form js-contact-form'}}) }}
                                    <div class="form__note">
                                        {% for message in app.flashes('success')  %}
                                            <div style="color:#5e8350;font-size: 22px;">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="input-wrp">
                                        {{ form_widget(form.name, {'attr': {'class': 'textfield', 'placeholder':'اسم'}}) }}
                                    </div>

                                    <div class="input-wrp">
                                        {{ form_widget(form.email, {'attr': {'class': 'textfield', 'placeholder':'بريد إلكتروني'}}) }}
                                    </div>

                                    <div class="input-wrp">
                                        {{ form_widget(form.message, {'attr': {'class': 'textfield', 'placeholder':'تعليقات'}}) }}
                                    </div>

                                    <button class="custom-btn custom-btn--medium custom-btn--style-3 wide" type="submit" role="button">أرسل</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-6  map-container map-container--right">
                        <!-- this is demo key "AIzaSyBXQROV5YMCERGIIuwxrmaZbBl_Wm4Dy5U" -->
{#                        <div class="g_map" data-api-key="AIzaSyBXQROV5YMCERGIIuwxrmaZbBl_Wm4Dy5U" data-longitude="44.958309" data-latitude="34.109925" data-marker="{{ '/media/images/marker.png' }}" style="min-height: 255px"></div>#}
                        <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11694.217954194917!2d47.99204620230539!3d29.37872667581416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf849850d401e9%3A0x767eb1122316959c!2sAl%20Hamra%20Tower%2C%20Al-Shuhada%20St%2C%20Al%20Kuwayt%2C%20Kuwait!5e0!3m2!1sen!2sdz!4v1620149276134!5m2!1sen!2sdz" width="921" height="823" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </section>

            <section class="py-5">
                <div class="container">
                    <!-- start company contacts -->
                    <div class="company-contacts  text-center">
                        <div class="__inner">
                            <div class="row justify-content-around">
                                <!-- start item -->
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="__item">
                                        <i class="__ico fontello-location"></i>

                                        <h4 class="__title">عنوان</h4>

                                        <p>
                                            حولي قطعة 63 ب ، مبنى 5 مكتب 12 ، الكويت
                                        </p>
                                    </div>
                                </div>
                                <!-- end item -->

                                <!-- start item -->
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="__item">
                                        <i class="__ico fontello-phone"></i>

                                        <h4 class="__title">هاتف</h4>

                                        <p>
                                            90932663,<br>22286866
                                        </p>
                                    </div>
                                </div>
                                <!-- end item -->

                                <!-- start item -->
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="__item">
                                        <i class="__ico fontello-mail-1"></i>

                                        <h4 class="__title">e-mail</h4>

                                        <p><a href="mailto:support@agrocompany.com">info@foodshackkw.com</a></p>
                                    </div>
                                </div>
                                <!-- end item -->
                            </div>
                        </div>
                    </div>
                    <!-- end company contacts -->
                </div>
            </section>

        </div>


    </main>
    <!-- end main -->
    <style>
        .map-responsive{

            overflow:hidden;

            padding-bottom:56.25%;

            /*position:relative;*/

            height:0;

        }

        .map-responsive iframe{

            left:0;

            top:0;

            height:100%;

            width:100%;

            position:absolute;

        }
    </style>
{% endblock %}

