{% extends 'base.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ '/media/images/intro_img/11.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>Food Shack Company</span>Sign IN</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->


        <div class="container py-50">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6 col-xl-6 offset-xl-3 offset-lg-3 text-center sign-wrapper">
                    <h2>Sign <span>in</span></h2>

                    <!-- start form -->
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.message | trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form class="auth-form" action="{{ path('login') }}" method="post">
                        <div class="input-wrp">
                            <input class="textfield" type="text" name="_username" placeholder="Username or email address *" value="{{ last_username }}"/>
                        </div>

                        <div class="input-wrp">
                            <input class="textfield" type="password" name="_password" placeholder="Password" />
                        </div>

                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto">
                                <label class="checkfield align-bottom">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked>
                                    <i></i>
                                    Remember me
                                </label>
                            </div>

                            <div class="col-auto">
                                <a class="link-forgot" href="{{ path('app_forgot_password_request', { locale: 'en'}) }}">Lost your password?</a>
                            </div>
                        </div>

                        <div class="d-table mt-8">
                            <div class="d-table-cell align-middle">
                                <button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit" role="button">Login in</button>
                            </div>

                            <div class="d-table-cell align-middle">
                                <a class="link-to" href="{{ path('register', { locale: 'en'}) }}">Sign up</a>
                            </div>
                        </div>

                        <hr style="width:100%; height:1px; border:none; background-color:#ccc; margin-top:30px;">
                        <div class="d-table mt-1">
                            <div class="col-auto">
                                <label class="checkfield align-bottom">
                                    <input type="checkbox">
                                    <i></i>
                                    <strong>Shopping as a Guest User</strong>
                                </label>
                            </div>
                        </div>


                    </form>
                    <!-- end form -->

                    <div class="spacer py-6 d-md-none"></div>

                </div>


            </div>
        </div>
    </main>
    <!-- end main -->

{% endblock %}

